<style type="text/css">
.section-nav-plank__container{
	display:flex;
	flex-flow:row wrap;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	max-width:1080px;
	width:83.33333%
}

.section-nav-plank__section{
	border-bottom:1px solid #e6e8eb;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	list-style:none;
	margin:50px 0 0;
	padding:0 0 20px;
	width:100%
}

@media only screen and (min-width:736px){
	.section-nav-plank__section{
	flex-flow:row wrap;
	margin-top:100px;
	padding-bottom:50px
}
}

.section-nav-plank__title{
	border-top:1px solid #c1c7cd;
	margin-right:0;
	position:relative
}

@media only screen and (min-width:736px){
	.section-nav-plank__title{
	margin-bottom:30px;
	margin-right:6.25%;
	width:29.16667%
}
}

.section-nav-plank__title:nth-child(3n+3){
margin-right:0
}

.section-nav-plank__title:last-child{
margin-bottom:50px
}

@media only screen and (min-width:736px){
	.section-nav-plank__title:last-child{
		margin-bottom:0
}
}

.section-nav-plank__link{
	color:#1b2733;color:#637282;
	display:block;
	font-size:20px;
	font-weight:300;
	line-height:1.65;
	margin:0;
	padding:30px 60px 30px 0;
	position:relative
}

	@media only screen and (min-width:736px){
		.section-nav-plank__link{
			padding-bottom:50px
}
}

.section-nav-plank__link:hover{
	color:#1b2733;text-decoration:none
}
@media only screen and (min-width:736px){
	.section-nav-plank__link:hover .section-nav-plank__arrow{
	right:10px
}
}

@media only screen and (min-width:736px){
	.section-nav-plank__link:hover .section-nav-plank__arrow{
		right:10px
}
}

.section-nav-plank__arrow{
	background-image:url(arbor-cms-sprite.svg);
	background-position:0 -135px;background-repeat:no-repeat;
	display:block;
	height:15px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	right:20px;
	top:41px;
	transition:left .5s ease,right .5s ease;
	width:35px
}

.button{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	right:300px;
	top:15%;
	width:60px;
	height: 20px;
}

h2{
	text-align: center;
}
</style>
