/* Tela de Login */

body {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.linkicon {
	width: 20px;
	height: 20px;
}

.body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("img/3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-filter: blur(3px);
}

.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 400px;
	min-width: 260px;
	max-height: 500px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
	border-radius: 8px;
}

/* logo da tela login */

.avatar {
	position: absolute;
	width: 155px;
	height: 110px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-40px/8);
	left: calc(41% - 40px);
}

.contact-form p {
	margin: 0;
	padding: 0;
	font-family: "lovelyFont";
	src: url('bahnschrift.ttf') font-weight: bold;
	font-size: 24px;
	color: #fff;
}

.contact-form input {
	width: 100%;
	margin-bottom: 15px;
}

.contact-form input[type="text"], .contact-form input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
}

.contact-form input[type="submit"] {
	height: 40px;
	width: 80px;
	color: green;
	font-size: 25px;
	font-family: "lovelyFont";
	src: url('bahnschrift.ttf') font-weight: bold;
	background: #151515;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	outline: none;
	margin-top: 5%;
}

.contact-form input[type="submit"]:hover {
	color: #fff;
	background: green;
}

.contact-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

/* Fim Tela de Login */

/*PESQUISA 1*/

#divBusca {
	position: absolute;
	background-color: #fff;
	border: solid 1px #222;
	border-radius: 5px;
	width: 300px;
	height: 35px;
	top: 9%;
	left: 70%;
}

#txtBusca {
	float: left;
	background-color: transparent;
	color: blue;
	padding-left: 5px;
	font-size: 18px;
	border: none;
	height: 32px;
	width: 191px;
	position: absolute;
	top: 1%;
	left: 8%;
}

#btnBusca {
	width: 70px;
	height: 35px;
	position: absolute;
	border: none;
	float: left;
	border-radius: 0 5px 5px 0;
	font-weight: bold;
	background: #80bfff;
	top: 0%;
	left: 77%;
}

#divBusca img {
	float: left;
	position: absolute;
	width: 20px;
	top: 11%;
	left: 1%;
	right: 5px;
}

/* seção da exibição de pesquisas */

section {
	margin-left: 3%;
	margin-right: 3%;
	background-color: #d6d5d5;
}

.form {
	background-color: silver;
	padding: 10px;
}

article {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	margin-bottom: 5px;
	text-align: left;
}

/* FIm seção da exibição de pesquisas */

/* Inicio Menu */

/*Imagem da logo do Admin*/

.logo_admin {
	background: rgba(155, 155, 155, 0.5);
	width: 100%;
	height: 110px;
	border-radius: 5px;
	margin-top: -45px;
}

.logo_admin img {
	width: 130px;
	margin-left: 20px;
}

/* Botão logout */

#logout {
	padding: 5px;
	margin-top: 25px;
	margin-right: 20px;
	max-width: 150px;
	max-height: 50px;
	font-size: 15px;
	font-family: "lovelyFont";
	src: url('bahnschrift.ttf') font-weight: bold;
}

#logout img {
	background-color: none;
	margin-top: 0;
	max-width: 23px;
	max-height: 23px;
}

.home {
	width: 40px;
	height: 40px;
}

.consulta {
	width: 20px;
	height: 20px;
}

.menu {
	width: 100%;
	height: 50px;
	background-color: #222;
	font-family: 'arial';
	margin-top: -20px;
	align-items: center;
}

.menu ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	list-style: none;
	position: relative;
}

.menu ul li {
	font-size: 14px;
	font-family: sans-serif;
	width: 180px;
	float: left;
	border-radius: 5px;
	height: 50px;
}

.menu a {
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #222;
	opacity: .9;
	color: #fff;
	border-radius: 5px;
	scroll-behavior: auto;
}

.menu ul ul {
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul {
	visibility: visible;
}

.menu a:hover {
	background-color: #f4f4f4;
	color: #555;
}

.menu ul ul li {
	font-size: 13px;
	font-family: sans-serif;
	float: none;
	border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
	background-color: #069;
}

@media (max-width: 1000px) {
	.menu {
		display: run-in;
		width: 100%;
		transition: all .5s;
	}
	.menu ul li {
		width: 100%;
		margin-right: 25%;
		float: none;
	}
	.menu ul ul {
		overflow: hidden;
		transition: all .4s;
	}
	.menu ul li:hover ul {
		height: auto;
		max-height: 200px;
	}
}

/* fim menu */

/* Background Page Adm */

#pageDesenvolvedor {
	background-image: url("img/2.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

/*
#pageRecSenhaLogin{
  background-image: url("img/29.jpg");
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
} */

#pageRecSenha {
	background-image: url("img/10.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#ajudaLogin {
	background-image: url("img/32.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.icon-img {
	max-width: 30px;
	max-height: 30px;
	margin-left: 10px;
}

#pageAjuda {
	background-image: url("img/31.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

/* Texto area de ajuda */

.titulo1 {
	text-shadow: 1px 1px 1px #0000ff;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.titulo {
	text-shadow: 1px 1px 1px orange;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.paragrafo {
	text-shadow: 1px 1px 1px Black;
	font-family: sans-serif;
	font-size: 22px;
}

.subtitulo {
	text-shadow: 1px 1px 1px black;
	font-family: sans-serif;
	font-size: 22px;
	color: #FFF;
}

/* Fim Texto area de ajuda */

#pageAdm {
	background-image: url("img/7.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pageAgente {
	background-image: url("img/19.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pageUsuario {
	background-image: url("img/12.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pageListaUsuario {
	background-image: url("img/14.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pageAnimal {
	background-image: url("img/27.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pageListaAnimais {
	background-image: url("img/28.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pagePerfilAnimal {
	background-image: url("img/10.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#pageUnidade {
	background-image: url("img/4.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

#pageUnidade h3 {
	text-align: center;
}

#pageUnidade input {
	width: 80%;
	margin: 20px;
}

#pageUnidade select {
	width: 18%;
	margin: 20px;
}

#pageUnidade label {
	width: 18%;
	margin: 20px;
}

#pageUnidade p {
	width: 18%;
	margin: 20px;
}

.endereco {
	width: 400px;
}

.endereco p {
	background-size: 20px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

input[type="text1"] {
	line-height: 32px;
	display: inline-block;
	vertical-align: middle;
	width: 343px;
	border: none;
}

#pageListaUnidade {
	background-image: url("img/21.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.corpoAdm {
	background: rgba(0, 0, 0, 0.5);
	max-width: 100%;
	min-height: 550px;
	/*overflow: auto;
		 right: 0;
		top: 0;
		left: 0;
		bottom: 0;
		position: absolute; */
}

/* @media only screen and (max-width:1200px){
  .corpoAdm {
  position:relative;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  right:12%;
  width:45%;
  }
} */

/* @media only screen and (min-width:400px)  and (max-width:900px){
  .corpoAdm {
  position:relative;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  right:12%;
  width:45%;
  }
} */

/* Tabela lista de animais */

.table {
	border: 1px;
}

/*Alerta para unidades não cadastradas*/

#alerta {
	position: absolute;
	color: black;
	top: 0;
	opacity: 0;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	width: 400px;
	display: none;
	transition: top 1s, opacity 1s;
}

#boxtop {
	height: 20px;
	background-color: red;
	display: none;
}

/* Rodapé */

.footer {
	background-color: #222;
	padding: 14px;
	text-decoration: none;
}

/* container cadastro animais, unidades e usuarios */

@media (min-width: 400px) and (max-width: 1000px) {
	.container {
		display: block;
		right: 12%;
		width: 45%;
	}
}

/* Preenchimento area princp. adm e agente */

.container a {
	padding: 3px;
	margin-top: 110px;
	width: 210px;
	height: 130px;
	font-size: 18px;
	border-radius: 6px;
	border: 2px solid silver;
	font-family: "lovelyFont";
	src: url('bahnschrift.ttf') font-weight: bold;
	color: white;
	background: rgba(0, 0, 0, 0.6);
}

.container a img {
	background-color: none;
	padding: 5px;
	width: 80px;
	height: 70px;
}

.container a {
	-webkit-transition;
	all: .9s ease;
	-moz-transition: all .9s ease;
	-ms-transition: all .9s ease;
	transition: all .9s ease;
}

.container a:hover {
	background: #ff4500;
	padding: 10px;
	font-family: "lovelyFont";
	src: url('bahnschrift.ttf') font-weight: bold;
	font-size: 16spx;
	color: yellow;
	border: 2px white;
}

@media only screen and (min-width: 400px) and (max-width: 1100px) {
	#areaPcp {
		display: block;
		width: 100%;
	}
}

/* Fim area princp. adm e agente */