/* Tela de Login */

body {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.linkicon{
	width: 20px;
	height: 20px;
}

.body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("img/3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-filter: blur(3px);
}

.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 400px;
  min-width: 260px;
	max-height: 500px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
  border-radius: 8px;
}

/* logo da tela login */

.avatar {
	position: absolute;
	width: 155px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-40px/8);
	left: calc(41% - 40px);
}

.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

/*Imagem de ajuda do Login*/

.icon-img {
	width: 35px;
}

.contact-form input {
	width: 100%;
	margin-bottom: 15px;
}

.contact-form input[type="text"], .contact-form input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
}

.contact-form input[type="submit"] {
	height: 40px;
	color: blue;
	font-size: 25px;
	font-family: Times;
	font-weight: bold;
	background: #dce2e2;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	outline: none;
	margin-top: 5%;
}

.contact-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
/* Fim Tela de Login */

/*PESQUISA 1*/
#divBusca{
  position: absolute;
  background-color:#fff;
  border:solid 2px #222;
  border-radius:10px;
  width:300px;
  height:35px;
  top: 17%;
  left: 60%;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
  position: absolute;
  top: 1%;
  left: 8%;
}

#btnBusca{
  width:70px;
  height:31px;
  position: absolute;
  border:none;
  float:left;
  border-radius:0 7px 7px 0;
  font-weight:bold;
  background:#5F9EA0;
  top: 1%;
  left: 77%;
}

#divBusca img{
  float:left;
  position: absolute;
  width: 20px;
  top: 1%;
  left: 1%;
  right: 10px;
}

/* Inicio Menu */

/*Imagem da logo do Admin*/
.logo_admin img {
	width: 150px;
	margin-top: -50px;
}

.menu {
	width: 100%;
	height: 50px;
  background-color: #222;
	font-family: 'arial';
	margin-top: -20px;
	align-items: center;
}

.menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	position: relative;
}

.menu ul li {
	font-size: 14px;
	font-family: sans-serif;
	width: 180px;
	float: left;
	border-radius: 5px;
}

.menu a {
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #222;
	opacity: .9;
	color: #fff;
	border-radius: 5px;scroll-behavior: auto;
}

.menu ul ul {
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul {
	visibility: visible;
}

.menu a:hover {
	background-color: #f4f4f4;
	color: #555;
}

.menu ul ul li {
	font-size: 13px;
	font-family: sans-serif;
	float: none;
	border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
	background-color: #069;
}

label[for="bt_menu"] {
	padding: 5px;
	background-color: #222;
	color: #fff;
	font-family: 'arial';
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#bt_menu {
	display: none;
}

label[for="bt_menu"] {
	display: none;
}

@media (max-width: 1000px) {
	label[for="bt_menu"] {
		display: inline-block;
		width: 100%;
	}
	#bt_menu:checked~.menu {
		margin-left: 0;
	}
	.menu {
		margin-top: 5px;
		margin-left: -150%;
		transition: all .5s;
	}
	.menu ul li {
		width: 100%;
		float: none;
	}
	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul li:hover ul {
		height: auto;
		max-height: 200px;
	}
}

/* fim menu */

/* Background Page Adm */
 #pageDesenvolvedor{
  background-image: url("img/2.jpg");
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageRecSenhaLogin{
  background-image: url("img/29.jpg");
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageRecSenha{
  background-image: url("img/10.jpg");
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #ajudaLogin{
  background-image: url("img/34.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageAjuda{
  background-image: url("img/15.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageAjudaAgente{
  background-image: url("img/31.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageAdm{
  background-image: url("img/14.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageAgente{
  background-image: url("img/11.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 #pageListaAgente{
  background-image: url("img/36.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
 .msgRecSenha{
	background-color: yellow;
	opacity: .3;
	border-radius: 5px;
	margin-top: 0;
	margin-left: 80%;
	max-height: 130px;
	min-height: 42px;
	max-width: 500px;
}
#pageUsuario {
  background-image: url("img/12.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageListaUsuario {
  background-image: url("img/18.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageAnimal {
  background-image: url("img/27.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageAnimalAgente {
  background-image: url("img/16.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageListaAnimais {
  background-image: url("img/28.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageListaAnimalAgente {
  background-image: url("img/33.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pagePerfilAnimal {
  background-image: url("img/10.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

#pageUnidade {
  background-image: url("img/30.png");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageListaUnidade {
  background-image: url("img/21.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#pageListaUnidadeAgente {
  background-image: url("img/17.jpg");
  background-color: #fff;
	background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
	bottom: 0;
  font-size: 15px;
	color: white;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

.corpoAdm{
  	background: rgba(0,0,0,0.5);
    max-width: 100%;
		min-height: 550px;
}
@media only screen and (max-width:1200px){
  .corpoAdm {
  position:relative;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  right:12%;
  width:45%;
  }
}


/* Tabela lista de animais */
.table{
	border:1px;
}

.footer{
  background-color: #222;
	padding: 10px;
	text-decoration: none;
}
