body {
    margin: 0;
    padding: 0;
    background: rgba(14, 181, 204, 0.4);
}

#logo{
    width: 10%;
}



form {
    border: 1px solid black;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
   

}

.formtop{
    background-color: rgb(255,136,0) ;
    color: white;
}

#maincontainer{
    background-color: white;
    margin: 0 30px 0 30px;
    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.name{
    text-align: center;
}

button {
    background-color: #F8A43F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}



.container {
    text-align: center;
    padding: 16px;
    width:50%;
    margin-left:5%;
    padding-left:0px;
    padding-right:0px;
}

.cancelar {

    width: auto;
    padding: 5px;
    background-color: #f44336;
}

span.esqueceu {
    float: right;
    padding: 10px;
}

span.fazer {
    float: right;
    padding: 10px;
}

span.esqueceu a{
    color: red;
}

/* Alterar estilos para span e cancelar botão em telas extras pequenas */
@media screen and (max-width: 300px) {
    span.esqueceu {
       display: block;
       float: none;
    }
    .cancelar {
       width: 100%;
    }
}
