 body{
  margin: 0;
  padding: 0;
}

#logo{
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);



/*Index.php*/

#maincontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#formcontainer{
  position: relative;
  border: solid 3px green;
  border-radius: 20px;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
}

#formcontainer input{
  width: 60%;
  border: 4px solid green;
  border-radius: 60px;
  height: 20px;
}

#formcontainer input:focus{
  outline: 0;
}



#logintitle{
  margin-top: 30px;
  background-color: green;
  text-align: center;
  border-radius: 80px;
  border: solid 3px orange;
  color: white;
  width: 140px;
  height: 50px;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

#logintitle h2{
  margin: 5px 0 5px 0;
  padding: 0;
  text-align: center;
}



/*Index.php*/

/* Menu */
.menu{
  width: 100%;
  height: 50px;
  background-color: #222;
  font-family: 'arial';
}

.menu ul{
  list-style: none;
  position: relative;
}

.menu ul li{
  font-size: 14px;
  font-family: sans-serif;
  width: 180px;
  float: left;
}

.menu a{
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #222;
  color: #fff;
}

.menu ul ul{
  position: absolute;
  visibility: hidden;
}

.menu ul li:hover ul{
  visibility: visible;
}

.menu a:hover{
  background-color: #f4f4f4;
  color: #555;
}

.menu ul ul li{
  font-size: 13px;
  font-family: sans-serif;
  float: none;
  border-bottom: solid 1px #ccc;
}


.menu ul ul li a{
    background-color: #069;
}

label[for="bt_menu"]{
  padding: 5px;
  background-color: #222;
  color: #fff;
  font-family: 'arial';
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#bt_menu{
  display: none;
}

label[for="bt_menu"]{
  display: none;
}

@media (max-width: 800px) {
  label[for="bt_menu"]{
    display: block;
  }

#bt_menu:checked ~ .menu{
  margin-left: 0;
}


.menu{
  margin-top: 5px;
  margin-left: -100%;
  transition: all .5s;
}

  .menu ul li{
    width: 100%;
    float: none;
  }
  .menu ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
  }
  .menu ul li:hover ul{
    height: auto;
    max-height: 200px;
  }
}



/* fim menu */



/* Inicio Estilo Provisorio */





/*Formulário do Login (index.php)*/


.formtop{
    background-color: rgb(255,136,0) ;
    color: white;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.name{
    text-align: center;
}

button {
    background-color: #F8A43F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}


.cancelar {

    width: auto;
    padding: 5px;
    background-color: #f44336;
}

span.esqueceu {
    float: right;
    padding: 10px;
}

span.fazer {
    float: right;
    padding: 10px;
}

span.esqueceu a{
    color: red;
}

/* Alterar estilos para span e cancelar botão em telas extras pequenas */
 @media screen and (max-width: 300px) {
    span.esqueceu {
       display: block;
       float: none;
    }
    .cancelar {
       width: 100%;
    }
}


/*  */


    body{
        margin: 0;
        padding: 0;
    }
    body:before{
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url("3.jpg");
        background-position: center center;
        background-repeat: no-repeat;
         background-attachment: fixed;
        background-size: cover;
        -webkit-filter: blur(3px);
      /*  -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);*/
    }
    .contact-form
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height: 500px;
        padding: 80px 40px;
        box-sizing: border-box;
        background: rgba(0,0,0,.5);
    }
    .avatar {
        position: absolute;
        width: 155px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(-40px/8);
        left: calc(41% - 40px);
    }

    .contact-form p
    {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
    }
    .contact-form input
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-form input[type="text"],
    .contact-form input[type="password"]
    {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }
    .contact-form input[type="submit"] {
        height: 40px;
        color: #000;
        font-size: 25px;
        font-family: Times;
        font-weight: bold;
        background: #dce2e2;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        outline: none;
        margin-top: 5%;
    }
    .contact-form a
    {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
